@{
    Layout = "~/Views/Shared/_EmptyLayoutPage.cshtml";
}

<style>
       @@font-face {font-family: 'webfont';
        src: url('/Content/webfont/webfont.eot'); /* IE9*/
        src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/Content/webfont/webfont.woff') format('woff'), /* chrome、firefox */
        url('/Content/webfont/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('/Content/webfont/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
    }
    .web-font {
        font-family: "webfont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        font-size: 35px;
        color: #33FF66  ;
    }

</style>

<div style="text-align: center; font-size: 30px; font-family: Helvetica Neue;">
    欢迎使用
    <span style=" ">
        <i class="web-font">博·寒暄</i>
    </span>
    内容管理系统
</div>


